<br><br><br>
<div class="outer_home">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Features</h1>
            <p class="lead">Azariel Technologies LLC have developed a suite of software for the cryptocurrency markets. By using technology such as Python and Amazon Web Services, we are able to aid the trading of cryptocurrency.</p>
            <hr class="my-4">
            <h2 class="display-4">Market Analysis</h2>
            One software system which is in production is a market analysis tool. We are constantly collecting market price data on a variety of crypto coins. Using constantly evolving data, we can analyze trends, regressions, drops, and much more. All data is saved to a database which can be connected to.
            <hr class="my-4">
            <h2 class="display-4">Order Book Analysis</h2>
            Much like our market analysis tool, we have similar software which analyzes orders. Our system is constantly looking at the new orders coming into the order book, so you can get instant feed back about the different orders that are relavent to trading. This system is constantly updating live, and can be queried in our database as well.
            <hr class="my-4">
            <h2 class="display-4">Account Balancing</h2>
            With software which is constantly making a large amount of trades a day, we need some system in place to evaluate its performance. After a many trades, the rounding errors which must be done can set account money balances slightly off from desired. This software makes sure that your account is always balanced to your liking.
            <hr class="my-4">
            <h2 class="display-4">Automated Trading</h2>
            Our main offering at Azariel Technologies is automated trading. Using a proprietary algorithm developed in Python, we can constantly make trades on the cryptocurrency market for profit. By simply setting different variables for how much money you want to trade with, our system will analyze the markets and make trades for profit automatically. All of our software systems and features work together to produce a high quality cryptocurrency trading system.
        </div>
    </div>
</div>
