<br><br><br>
<div class="outer_home">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">About</h1>
            <p class="lead">We are a small group who have developed this company during college.</p>
            <hr class="my-3">
            <p>This company started in a dorm room at Allegheny college. James Burnette, Joe Nagel, and Austin Bristol enjoyed the new technology of cryptocurrency, and developed the main idea for the company. In the beginning of 2018, we started developing our software to automatically trade coins for profit. Our focus was to lower the risk of trading in this volatile market by holding our capital in US dollars as much time as possible. By implementing a arbitrage algorithm, we have beem able to generate profits in the cryptocurrency markets while lowering investors' risks.</p>
            <img class="large_image" src="assets/img/about.jpg">
            <p>In spring of 2018, Azariel Technologies entered the Big Idea Competition at Allegheny College. In the end, we won the competition after pitching our company to an experienced board of judges. Since then, we have created an LLC as well as continue to develop more software to aid our trading. By expanding into more market analyses, as well as creating more refined code and safeguards, we have been able to enhance system.</p>
            <hr class="my-4">
            <h2 class="display-4">Leadership</h2>
            <br>
            <h3>James Burnette</h3>
            <h5>CEO</h5>
            <img class="small_image" src="assets/img/leader1.PNG">
            <p class="bio">James is from Pittsburgh, Pennsylvania. He has attended college to pursue a economics degree. As the Chief Executive Officer of the company, he drives the main decisions for our cryptocurrency trading methodology.</p>
            <br>
            <h3>Joe Nagel</h3>
            <h5>COO</h5>
            <img class="small_image" src="assets/img/leader2.jpg">
            <p class="bio">Much like James, Joe is from Pittsburgh, Pennsylvania and has pursued an economics degree during his time in college. He handles the operations of the company and its organization as the Chief Operations Officer.</p>
            <br>
            <h3>Austin Bristol</h3>
            <h5>CTO</h5>
            <img class="small_image" src="assets/img/leader3.jpg">
            <p class="bio">Austin is from Buffalo, New York. He has pursued a major in Computer Science while at Allegheny College. As the Chief Technology Officer, he develops all the software systems for the company, as well as handles its deployment and infrastructure.</p>
        </div>
    </div>
</div>
