<div class="outer_home">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome</h1>
            <p class="lead">At Azariel technologies, we focus on automating cryptocurrency trading.</p>
            <hr class="my-4">
            <p>We specialize in automated cryptocurrency trading. By developing various proprietary algorithms, we can turn investments into profits within crypocurrency marketplaces. We have developed software using a suite of technologies to efficiently and effectively analyze markets and make trading decisions. By using our expertise in cryptocurrency along with our developed suite of software, we can help make profits in the new age of trading.</p>
            <div class="image_container">
                <img src="assets/img/home.jpg">
            </div>
        </div>
    </div>
</div>
